// COLOURS

$white: #ffffff;
$black: #000000;

$grey600: #3d6666;
$grey550: #547878;
$grey500: #5e7a7d;
$grey400: #7f9d9f;
$grey300: #9ebbbd;
$grey200: #c5e4e7;
$grey50: #f3f9fa;

$green900: #00474b;
$green800: #085c61;
$green750: #0d686d;
$green400: #26c2ae;
$green200: #9fe8df;

$orange400: #e17052;

// SPACING

$spacing-0: 0;
$spacing-1: 0.5rem;
$spacing-2: 1rem;
$spacing-3: 1.5rem;
$spacing-4: 2rem;
$spacing-5: 2.5rem;
$spacing-6: 3rem;
$spacing-10: 5rem;
$spacing-12: 6rem;
$spacing-15: 7.5rem;
$spacing-16: 8rem;