@use "base" as b;
@use "mixins" as mx;

body {
  background-color: b.$grey200;
  margin: b.$spacing-0;
  max-width: 100vw;
}

.app-card {
  background-color: b.$white;
  max-width: 100%;
  margin: b.$spacing-16 b.$spacing-0 b.$spacing-0;
  border-radius: 1.5rem;
  padding: b.$spacing-4 b.$spacing-3;
}

.input-wrapper {
    position: relative;
    // display: inline-block;
    
    
    input {
        @include mx.txt-prst-3;
        color: b.$green900;
        background-color: b.$grey50;
        padding: b.$spacing-1 b.$spacing-2;
        border-radius: b.$spacing-1;
        text-align: center;
        width: 100%;
        border: none;
        text-align: right;
        box-sizing: border-box;
    }
    
    input::placeholder {
        color: b.$grey300;
    }
    
}
    .input-wrapper::before {
        position: absolute;
        left: b.$spacing-2;
        top: b.$spacing-2;
        color: b.$grey300;
        pointer-events: none;
    }
    
    label {
      @include mx.txt-prst-5;
      color: b.$grey500;
    }


.bill-input {
  width: 100%;


  .input-wrapper::before {
    content: url(/assets/images/icon-dollar.svg);
  }
}

.tip {
  margin: b.$spacing-4 0;

  p {
    @include mx.txt-prst-5;
    color: b.$grey500;
  }
}

.tip-select {
  margin-top: b.$spacing-1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: b.$spacing-2;

  button,
  input {
    @include mx.txt-prst-3;
    padding: b.$spacing-1 b.$spacing-2;
    border-radius: 0.25rem;
    flex-basis: calc(50% - b.$spacing-1);
    border: none;
  }

  input {
    color: b.$green900;
    background-color: b.$grey50;
    text-align: center;
    max-width: calc(50% - b.$spacing-2);
    box-sizing: border-box;
  }

  input::placeholder {
    color: b.$grey550;
  }

  button {
    background-color: b.$green900;
    color: b.$white;
  }
}

.number-of-people {
    .label {
        margin-bottom: b.$spacing-1;
    }

    .input-wrapper::before {
    content: url(/assets/images/icon-person.svg);
  }
}

.app-outputs {
    max-width: 100%;
    margin-top: b.$spacing-4;
    padding: b.$spacing-3;
    border-radius: b.$spacing-2;
    background-color: b.$green900;


    .output {
        display: flex;
        justify-content: space-between;
        height: fit-content;
    }

    .output + .output {
        margin: b.$spacing-3 0 b.$spacing-4;
    }

    .output-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-lb {
        color: b.$white;
        @include mx.txt-prst-5;
        margin: b.$spacing-0;
    }

    .pp { 
        color: b.$grey400;
        @include mx.txt-prst-6;
        margin: b.$spacing-0;
    }

    .tip-pp,
    .total-pp {
        color: b.$green400;
        @include mx.txt-prst-2;
        margin: 0;
    }

    .reset {
        @include mx.txt-prst-4;
        width: 100%;
        background-color: b.$green750;
        color: b.$green900;
        text-align: center;
        padding: b.$spacing-1;
        border-radius: b.$spacing-1;
        border: none;
    }

    .reset:disabled {
        color: b.$green800;
    }
}

