// COLOURS

$white: var(--white);
$black: var(--black);

$grey600: var(--grey600);
$grey550: var(--grey550);
$grey500: var(--grey500);
$grey400: var(--grey400);
$grey300: var(--grey300);
$grey200: var(--grey200);
$grey50: var(--grey50);

$green900: var(--green900);
$green800: var(--green800);
$green750: var(--green750);
$green400: var(--green400);
$green200: var(--green200);

$orange400: var(--orange400);

// SPACING
$spacing-0: var(--spacing-0);
$spacing-1: var(--spacing-1);
$spacing-2: var(--spacing-2);
$spacing-3: var(--spacing-3);
$spacing-4: var(--spacing-4);
$spacing-5: var(--spacing-5);
$spacing-6: var(--spacing-6);
$spacing-10: var(--spacing-10);
$spacing-11: var(--spacing-11);
$spacing-12: var(--spacing-12);
$spacing-15: var(--spacing-15);
$spacing-16: var(--spacing-16);
