@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

@mixin output-value {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: clamp(2rem, 1.6479rem + 1.5023vw, 3rem);
  line-height: 4.5rem;
  letter-spacing: -1px;
}

@mixin input {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

@mixin button {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

@mixin label {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin sub-label {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
