@use "base" as b;
@use "typography" as t;

body {
  background-color: b.$grey200;
  margin: b.$spacing-0;
  max-width: 100vw;
}

.logo {
  display: block;
  width: 5.5rem;
  margin: b.$spacing-4 auto;
}

.app-card {
  background-color: b.$white;
  max-width: 100%;
  border-radius: 1.5rem;
  padding: b.$spacing-4 b.$spacing-3;
}

.input-wrapper {
  position: relative;

  .number-input {
    @include t.input;
    color: b.$green900;
    background-color: b.$grey50;
    padding: b.$spacing-1 b.$spacing-2;
    border-radius: b.$spacing-1;
    text-align: center;
    width: 100%;
    border: none;
    text-align: right;
    box-sizing: border-box;
  }

  .number-input::placeholder {
    color: b.$grey300;
  }
}
.input-wrapper::before {
  position: absolute;
  left: b.$spacing-2;
  top: b.$spacing-2;
  color: b.$grey300;
  pointer-events: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  @include t.label;
  color: b.$grey500;
}

.bill-input {
  width: 100%;

  .input-wrapper::before {
    content: url(../images/icon-dollar.svg);
  }
}

.tip {
  margin: b.$spacing-4 0;

  label {
    @include t.label;
    color: b.$grey500;
  }
}

.tip-select {
  margin-top: b.$spacing-1;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: b.$spacing-2;

  input {
    @include t.input;
    padding: b.$spacing-1 b.$spacing-2;
    border-radius: 0.25rem;
    width: calc(50% - b.$spacing-2);
    border: none;
  }

  .custom-tip {
    color: b.$green900;
    background-color: b.$grey50;
    text-align: center;
    box-sizing: border-box;
  }

  input::placeholder {
    color: b.$grey550;
  }

  button {
    background-color: b.$green900;
    color: b.$white;
    @include t.input;
  }
  .selected-tip {
    background-color: b.$green400 !important;
    color: b.$green900 !important;
  }
}

.number-of-people {
  .label {
    margin-bottom: b.$spacing-1;
  }

  .input-wrapper::before {
    content: url(../images/icon-person.svg);
  }
}

.app-outputs {
  max-width: 100%;
  margin-top: b.$spacing-4;
  padding: b.$spacing-3;
  border-radius: b.$spacing-2;
  background-color: b.$green900;

  .output {
    display: flex;
    justify-content: space-between;
    height: fit-content;
  }

  .output + .output {
    margin: b.$spacing-3 0 b.$spacing-4;
  }

  .output-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-lb {
    color: b.$white;
    @include t.label;
    margin: b.$spacing-0;
  }

  .pp {
    color: b.$grey400;
    @include t.sub-label;
    margin: b.$spacing-0;
  }

  .tip-pp,
  .total-pp {
    color: b.$green400;
    @include t.output-value;
    margin: 0;
  }

  .reset {
    @include t.button;
    width: 100%;
    color: b.$green900;
    background-color: b.$green400;
    text-align: center;
    padding: b.$spacing-2;
    border-radius: b.$spacing-1;
    border: none;
  }

  .reset:disabled {
    color: b.$green800;
    background-color: b.$green750;
  }
}

@media (min-width: 44rem) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .logo {
    margin: b.$spacing-10 auto;
  }

  .app-card {
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: b.$spacing-6 b.$spacing-10;
  }

  .tip-select {
    justify-content: space-between;

    input {
      width: calc(33% - 0.66rem);
    }
  }

  .app-outputs {
    padding: b.$spacing-5 b.$spacing-6;
  }
}

@media (min-width: 60rem) {
  .app-card {
    width: 80%;
    padding: b.$spacing-4;
    display: flex;
    gap: b.$spacing-10;
  }

  .number-of-people {
    margin-bottom: b.$spacing-2;
  }

  .app-inputs {
    flex-basis: calc(60% - b.$spacing-5);
  }
  .app-outputs {
    margin-top: 0;
    flex-basis: calc(40% - b.$spacing-5);

    button {
      margin-top: 16%;
    }
  }
}
