@use "base" as b;
@use "typography" as t;
@use "breakpoints" as mq;

body {
  background-color: b.$grey200;
  margin: b.$spacing-0;
}

.logo {
  display: block;
  margin: b.$spacing-4 auto;
  width: b.$spacing-11;
  @include mq.md {
    margin: b.$spacing-10 auto;
  }
}

.card {
  display: grid;
  gap: clamp(b.$spacing-4, 1.5229rem + 2.0356vw, b.$spacing-5);
  background-color: b.$white;
  max-width: fit-content;
  margin-inline: auto;
  border-radius: 1.5rem;
  padding: b.$spacing-4 b.$spacing-3;
  @include mq.md {
    box-sizing: border-box;
    margin: 0 auto;
    padding: b.$spacing-6 b.$spacing-10;
  }
  @include mq.lg {
    grid-template-columns: 1fr 1fr;
    gap: b.$spacing-6;
    padding: b.$spacing-4;
  }
}

.inputs__form {
  display: grid;
  gap: clamp(b.$spacing-3, 2.4771rem + -2.0356vw, b.$spacing-4);
  max-width: 380px;
  @include mq.md {
    gap: clamp(b.$spacing-3, 0.3571rem + 2.381vw, b.$spacing-5);
  }
  @include mq.lg {
    margin-block: b.$spacing-2;
  }
}

.inputs__inputWrapper {
  position: relative;
}

.inputs__inputWrapper::before {
  color: b.$grey300;
  left: b.$spacing-2;
  pointer-events: none;
  position: absolute;
  top: b.$spacing-2;
}

.inputs__number {
  background-color: b.$grey50;
  border: none;
  border-radius: b.$spacing-1;
  box-sizing: border-box;
  color: b.$green900;
  cursor: pointer;
  padding: b.$spacing-1 b.$spacing-2;
  text-align: right;
  width: 100%;
  @include t.input;

  &::placeholder {
    color: b.$grey300;
  }

  &::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.label {
  color: b.$grey500;
  margin-block-end: b.$spacing-1;
  @include t.label;
}

.inputs__bill {
  .inputs__inputWrapper::before {
    content: url(images/icon-dollar.svg);
  }
}

.inputs__people {
  .inputs__inputWrapper::before {
    content: url(images/icon-person.svg);
  }
}

.inputs__selectTip {
  border: none;
  display: grid;
  gap: b.$spacing-2;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  @include mq.md {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.inputs__customTip {
  padding: b.$spacing-1;
  text-align: center;
}

.input__button {
  background-color: b.$green900;
  border: none;
  border-radius: 5px;
  color: b.$white;
  cursor: pointer;
  padding: b.$spacing-1 b.$spacing-2;
  @include t.input;
}

.input__button-active {
  background-color: b.$green400;
  color: b.$green900;
}

.outputs {
  background-color: b.$green900;
  border-radius: b.$spacing-2;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: b.$spacing-3;
  @include mq.lg {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 1fr 2fr;
  }
}

.outputs__container {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  max-width: 380px;
}

.outputs__labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.outputs__label-large {
  color: b.$white;
  margin: b.$spacing-0;
  @include t.label;
}

.outputs__label-sub {
  color: b.$grey400;
  margin: b.$spacing-0;
  @include t.sub-label;
}

.outputs__data {
  color: b.$green400;
  margin: 0;
  @include t.output-value;
}

.outputs__reset {
  align-self: end;
  background-color: b.$green400;
  border: none;
  border-radius: b.$spacing-1;
  color: b.$green900;
  cursor: pointer;
  height: max-content;
  padding: b.$spacing-2;
  text-align: center;
  width: 100%;
  @include t.button;

  &:disabled {
    color: b.$green800;
    background-color: b.$green750;
  }
}
